.message-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(128, 128, 128, .65);
}

.message-modal {
  position: relative;
  width: 30rem;
  height: auto;
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: 2px ridge green;
  opacity: 100%;
}

.message-modal h1 {
  font-size: 24px;
  margin-top: 0px;
}

.message-modal h3 {
  margin: 1rem 0 0.5rem 0;
}

.message-modal__close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: lightgreen;
  border: 1px solid green;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}
