.header {
  width: 100%;
  background-color: green;
  height: 8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__inner {
  width: 75rem;
}

.header__big-link {
  font-size: 3rem;
}
